@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Manrope:wght@800&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
:root {
	/* Primary */
	--purple: hsl(259, 100%, 65%);
	--light-red: hsl(0, 100%, 67%);

	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--off-white: hsl(0, 0%, 94%);
	--light-grey: hsl(0, 0%, 86%);
	--smokey-grey: hsl(0, 1%, 44%);
	--off-black: hsl(0, 0%, 8%);

	/* Typography */
	font-size: 32px;
	font-family: 'Poppins';
}

.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	height: 70vh;
	width: 80vw;
	background-color: var(--white);
	border: 1px solid var(--smokey-grey);
	border-radius: 10px 10px 100px 10px;
	padding: 0.5rem;
}

/* Inputs section*/
.input-section {
	display: flex;
}

.input-section article {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.input-section span {
	align-self: flex-start;
	color: var(--smokey-grey);
	font-size: 16px;
	margin-left: 0.3rem;
}

.input-section div {
	border: 1px solid var(--light-grey);
	border-radius: 10px;
	width: 85px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-section input {
	width: 80%;
	border: none;
	font-size: 24px;
	font-family: 'Poppins';
}

/* Arrow section */
.arrow-section {
	display: flex;
	align-items: center;
	padding: 1rem 0rem;
}

.arrow-section hr {
	border-top: 3px solid var(--light-grey);
	width: 40%;
	height: 1px;
}
.arrow-section img {
	background-color: var(--purple);
	border-radius: 50%;
	padding: 0.3rem;
}

/* Counter section */

.counter-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	gap: 10px;
}

.counter-section p {
	margin: 0;
}

.counter-section span {
	color: var(--purple);
}

/* Footer */
.attribution {
	font-size: 11px;
	text-align: center;
	position: fixed;
	bottom: 0px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
